*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../img/cake.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    display: none;
}
img{
    padding-left: 30px;
    padding-bottom: 15px;
}
h1{
    font-size: 32px;
    padding-top: 60px;
    padding-right: 25px;
    float: right;
}
h4{
    font-size: 15px;
    float: right;
    padding-right: 25px;
}
input, label {
    display:flex;
    flex-direction: row;
}
.in{
    padding-left: 35px;
}
.row{
    float: left;
    padding-right: 20px;
}
input[type=text],[type=tel],[type=email],[type=time],[type=date],.time,textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    appearance: none;
    background-color: #eee4e0;
    padding: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 200px;
    outline: none;
    border-bottom: 2px solid #360f00;
    margin-top: 5px;
    margin-bottom: 20px;
}
input[type=text]:focus::placeholder{
    color:transparent;
}
input[type=text]::placeholder{
    color: #360f00;
    transition: color 0.2s ease;
}
input[type=tel]:focus::placeholder{
    color:transparent;
}
input[type=tel]::placeholder{
    color: #360f00;
    transition: color 0.2s ease;
}
input[type=email]:focus::placeholder{
    color:transparent;
}
input[type=email]::placeholder{
    color: #360f00;
    transition: color 0.2s ease;
}
input[type=submit]{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: transparent;
    justify-content: center;
    color: #360f00;
    border: 2px solid #360f00;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 25px 80px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
}
input[type=submit]:hover{
    background-color: #360f00;
    color: #d4853b;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
  }
.radioshape, .radio, .radio1, .radio2,.checkbox,.checkbox1{
    display:inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}
.rinputshape,.rinput,.rinput1,.rinput2,.cinput,.cinput1{
    display: none;
}
.rcircleshape,.rcircle,.rcircle1,.rcircle2{
    width:20px;
    height:20px;
    border: 2px solid #360f00;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
    margin-right:5px;
    margin-left: 8px;
}
.cbox,.cbox1{
    width:24px;
    height:24px;
    border: 2px solid #360f00;
    border-radius: 25%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 1px;
    margin-right:5px;
    margin-left: 8px;
}
.rcircleshape::after{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background: #360f00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease;
}
.rinputshape:checked + .rcircleshape::after{
    transform: scale(1);
}
.rcircle::after{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background: #360f00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease;
}
.rinput:checked + .rcircle::after{
    transform: scale(1);
}
.rcircle1::after{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background: #360f00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease;
}
.rinput1:checked + .rcircle1::after{
    transform: scale(1);
}
.rcircle2::after{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background: #360f00;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease;
}
.rinput2:checked + .rcircle2::after{
    transform: scale(1);
}
.cbox::after{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../img/Check_mark_23x20_01.svg');
    background-size: contain;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 25%;
    transform: scale(0);
    transition: 0.2s ease;
}
.cinput:checked + .cbox::after{
    transform: scale(1);
}
.cbox1::after{
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../img/Check_mark_23x20_01.svg');
    background-size: contain;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 25%;
    transform: scale(0);
    transition: 0.2s ease;
}
.cinput1:checked + .cbox1::after{
    transform: scale(1);
}
textarea{
    resize: none;
}
.submit{
    margin-left: 25px;
}